.c-card {
    width: 100%;
    background: #fff;
    position: relative;

    &__image {

        position: relative;
        display: block;
        //border: 4px solid #fff;
        overflow: hidden;

        &:before {
            display: block;
            content: "\f1ce";
            font-family: FontAwesome;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: infinite-spinning 2s infinite;
        }

        &__holder {
            background-position: center;
            background-size: cover;
            padding-top: 70%;
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: opacity 0.3s;

            &.js-loaded {
                opacity: 1;
            }
        }

    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($brand-color, 0.9);
        z-index: 3;
        transition: all 0.4s;
        opacity: 0;

        &:before {
            display: block;
            content: "\f06e";
            font-family: FontAwesome;
            font-size: 4em;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            opacity: 1;
        }
    }

    &__content {
        position: relative;
        padding: 0.8em;
        display: none;
    }

    &__meta {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
        bottom: 0.4em;
        left: 0.4em;
        transition: all 0.4s;

        li {
            display: inline-block;
            color: #fff;
            background-color:$brand-color;
            padding: 0.5em;
            font-size: 0.7em;

            &:not(:last-child){
                margin-right: 0.4em;

                &:before {
                    content: "\f12e";
                    font-family: FontAwesome;
                }
            }

            &:first-child {
                &:before {
                    content: "\f007";
                    font-family: FontAwesome;
                }
            }
        }
    }

    &__title {
        margin: 0;
        font-size: 1em;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icon {
        background: url(http://fakeimg.pl/40x40/000000/fff/?text=img) center no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -20px;
        right: 1em;
        text-indent: -9999px;

        @include bp(sm) {
            width: 50px;
            height: 50px;
            top: -30px;
            right: 1em;
        }
    }

    &__read-more {
        position: relative;
    }

    &--shadow {
        box-shadow: 0 0 20px 1px rgba(#666, 0.3);
    }

}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
