.c-card {
    width: 100%;
    background: #fff;
    position: relative;

    &__image {

        position: relative;
        display: block;

        &:before {
            display: block;
            content: "\f1ce";
            font-family: FontAwesome;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: infinite-spinning 2s infinite;
        }

        div {
            background-size: cover;
            padding-top: 80%;
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: opacity 0.3s;

            &--skewed {
                clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
            }

            &.js-loaded {
                opacity: 1;
            }
        }
    }

    &__content {
        position: relative;
        padding: 1.7em 1em 1em;

        @include bp(sm) {
            padding-top: 1.2em;
        }
    }

    &__meta {
        margin: 0;
        padding: 0.5em;
        font-size: 0.8em;
        text-transform: capitalize;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        background-color:$brand-color;
        color: #fff;
    }

    &__author {
        font-size: 0.7em;
        margin: 0;
    }

    &__title {
        margin: 0.4em 0 0 0;
        height: 3.5em;
        font-size: 1.2em;

        @include bp(sm) {
            height: 2.9em;
        }

    }

    &__icon {
        background: url(http://fakeimg.pl/40x40/000000/fff/?text=img) center no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -20px;
        right: 1em;
        text-indent: -9999px;

        @include bp(sm) {
            width: 50px;
            height: 50px;
            top: -30px;
            right: 1em;
        }
    }

    &__read-more {
        position: relative;
    }

    &--shadow {
        box-shadow: 0 0 20px 1px rgba(#666, 0.3);
    }

}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
